<h1>New OTP Verification</h1>

<%= form_with url: otp_verification_path, local: true, data: {turbo: false} do |form| %>
  <%= form.hidden_field :email, value: @user.email %>

  <div>
    <%= form.label :token %>
    <%= form.text_field :token %>
  </div>
  <div>
    <%= form.submit "Verify" %>
  </div>
<% end %>

<%= button_to "Resend OTP", otp_token_path, method: :post, params: {email: @user.email}, data: {turbo: false} %>
